.wrapper {
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    display: grid;
  }

  .wrapperCard {
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
  }

  .wrapperLike {
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .image-container {
    position: relative;
    transition: transform 0.2s;
  }
  
  .image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .img {
    height: 20vh;
    object-fit: cover;
    margin-bottom: 1rem;
  }

.details-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}
    
.div-img { grid-area: 1 / 1 / 2 / 2; }

.div-rating { grid-area: 1 / 2 / 2 / 3; }